{% extends '@KnpMenu/menu.html.twig' %}

{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block linkElement %}
    {% import _self as macros %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {% if item.attribute('data-icon') is not empty  %}
            <i class="{{ item.attribute('data-icon') }}"></i>
        {% endif %}
        {{ block('label') }}
        {% if item.attribute('data-expander') is not empty  %}
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        {% endif %}
    </a>
{% endblock %}

{% block linkNoElement %}
    {% import _self as macros %}
    <a href="#"{{ macros.attributes(item.labelAttributes) }}>
        {% if item.attribute('data-icon') is not empty  %}
            <i class="{{ item.attribute('data-icon') }}"></i>
        {% endif %}
        {{ block('label') }}
        {% if item.attribute('data-expander') is not empty  %}
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        {% endif %}
	</a>
{% endblock %}

{% block dropdownElement %}
    {% import _self as macros %}
    {%- set classes = item.linkAttribute('class') is not empty ? [item.linkAttribute('class')] : [] %}
    {%- set classes = classes|merge(['dropdown-toggle']) %}
    {%- set attributes = item.linkAttributes %}
    {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- set attributes = attributes|merge({'data-toggle': 'dropdown'}) %}
    <a href="#"{{ macros.attributes(attributes) }}>
        {% if item.attribute('data-icon') is not empty  %}
            <i class="{{ item.attribute('data-icon') }}"></i>
        {% endif %}
        {{ block('label') }}
        <b class="caret"></b>
    </a>
{% endblock %}

{% block label %}<span>{{ item.label|trans }}</span>{% endblock %}